Lec5Ex01/Lec5Ex01/data.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NewDataSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Products">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProductID" type="xs:unsignedByte" />
							<xs:element name="ProductName" type="xs:string" />
							<xs:element name="ProductQR" type="xs:string" />
							<xs:element name="Price" type="xs:decimal" />
							<xs:element name="Markup" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Orders">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrderID" type="xs:unsignedByte" />
							<xs:element name="ProductID" type="xs:unsignedByte" />
							<xs:element name="Qty" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>